/*
 * @Description: 
 * @Author: 李大玄
 * @Date: 2021-03-30 11:16:21
 * @FilePath: /vue-shelf/src/assets/styles/function.scss
 */

$version: random(1000); /* 随机数 */

@function unit($number) {
  $size: $number - 1;
  @return $size + 1px;
}

@function src($url, $random: false) {
  @if $domain {
    $txt: "//" + $domain + $url;
    @if $random {
      $txt: $txt + "?v=" + $version;
    }
    @return unquote($txt);
  }
  @return unquote($url);
}