@import "./function.scss";

@import "./font.scss";
@import "./margin.scss";
@import "./padding.scss";
@import "./radius.scss";
@import "./flex.scss";
@import "./width.scss";
@import "./height.scss";


.pointer {
  cursor: pointer;
}

/* 等宽等高 */
.equal-width-height {
  width: 100%;
  position: relative;
  border: 1px solid transparent;

  &::before {
    content: '';
    display: block;
    margin-top: 100%;
  }

  @for $index from 0 through 10 {
    $height: 50 + $index * 5;
    &[height="#{$height}"] {
      &::before {
        margin-top: unquote($height + "%");
      }
    }
  }

  & > .equal-content {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}


.overauto {
  overflow: auto !important;
}

.dib {
  display: inline-block;
}
.dbk {
  display: block;
}

//定义常用的class

.none {
  display: none
}

.bold {
  font-weight: bold;
}


.clearfix::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
}

.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
}
.text-over {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

//ooclass
.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}


.hidden {
  overflow: hidden;
}


.disabled {
  cursor: not-allowed !important;

  &:hover {
    color: #c0c4cc !important;
  }
}

/* 分割线 */
.dividing-line {
  border: 0;
  padding: 0;
  margin: 0;
  height:4px;
  background: $grey;
}

.wmax {
  width: 100%;
}

.hmax {
  height: 100%;
}

.shadow {
  box-shadow:#ccc 0px 0px 6px;
}