/*
  ml5, ml10... ml50
  ml6, ml8, ml10, ml12
*/

$number: 200;
@while $number > 0 {
  .p#{$number} {
    padding: unit($number: $number) unit($number: $number) !important;
  }
  .pl#{$number} {
    padding-left: unit($number: $number) !important;
  }

  .pt#{$number} {
    padding-top: unit($number: $number) !important;
  }

  .pr#{$number} {
    padding-right: unit($number: $number) !important;
  }

  .pb#{$number} {
    padding-bottom: unit($number: $number) !important;
  }
  $number: $number - 1;
}

// @each $item in (5, 50, 5), (4, 14, 2) {
//   @for $index from 0 through floor(nth($item, 2) / nth($item, 3)) {
//     $number: $index * nth($item, 3) + nth($item, 1);

//     @if $number <= nth($item, 2) {
//       .p#{$number} {
//         padding: unit($number: $number) unit($number: $number) !important;
//       }
//       .pl#{$number} {
//         padding-left: unit($number: $number) !important;
//       }

//       .pt#{$number} {
//         padding-top: unit($number: $number) !important;
//       }

//       .pr#{$number} {
//         padding-right: unit($number: $number) !important;
//       }

//       .pb#{$number} {
//         padding-bottom: unit($number: $number) !important;
//       }
//     }
//   }
// }