
// @for $index from 1 through 400 {
  
//   .w#{$index} {
//     width: unit($number: 200 + $index);
//   }
// }

$i: 700;
@while $i > 0 {
  .w#{$i} {
    //     width: unit($number: 200 + $index);
    width: unit($number: $i) !important;
  }
  $i: $i - 10;
}