/*
 * @Description: 
 * @Author: 李继玄（15201002062@163.com）
 * @Date: 2021-05-19 14:20:48
 * @FilePath: /ucenter-messageflat-web-view/src/assets/styles/common.scss
 */
/**
* 公共样式
*
**/
$color: #020327;
$color-ddd: #DDD;
$color-befor: #409EFF;

.bg-theme {
  background: $color;
}
